APP_NAME=GuerrasModernas
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_TIMEZONE=UTC
APP_URL=http://localhost

# CONFIGURAÇÃO DE IDIOMA
APP_LOCALE=en
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=en_US

# LOGS
LOG_CHANNEL=stack
LOG_LEVEL=debug

# BASE DE DADOS (MySQL Requerido)
DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=mw_guerras
DB_USERNAME=root
DB_PASSWORD=

# SESSÃO E CACHE
SESSION_DRIVER=file
SESSION_LIFETIME=120
CACHE_STORE=database
QUEUE_CONNECTION=database

# DRIVERS DE EMAIL (Logs por defeito)
MAIL_MAILER=log
MAIL_HOST=127.0.0.1
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null
MAIL_FROM_ADDRESS="hq@mw-guerras.com"
MAIL_FROM_NAME="${APP_NAME}"

# VITE
VITE_APP_NAME="${APP_NAME}"
